body{
    font-family: 'Open Sans', sans-serif;
    padding: 0px;
    margin: 0px;
}
img{
    width: 100%;
}
section{
    height: 600px;
   
}
h1{
    font-size: 40px;
    letter-spacing: 2px;
}
#top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.name-color{
    color: rgb(230, 125, 5);
}
.half-width{
    width: 40%;
   float: left;
   margin:20px 5% ;
   margin-right: 0px;
}
.hiring-button{
    padding: 10px 35px;
    background: linear-gradient(45deg, lightsalmon, tomato);
    border-radius: 3px;
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
   
}
.half-width p{
    margin-bottom: 40px;
}
.half-width h2{
    margin-bottom: 40px;
}
.resume-anchore{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(20deg,lightsalmon,tomato);
    padding: 10px 20px;
    border-radius: 3px;
}
#dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}